html, body {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 0.03rem;
    margin: 0;
    color: #444;
}

.nav {
    width: 100vw;
    height: 15vh;
    background: #F1B2AC;
    display: flex;
    justify-content: flex-end;
}

.header {
    width: 100vw;
    height: 85vh;
    display: flex;
    background: #ffdbd8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    margin: 0;
}

.header__subtitle {
    font-weight: 400;
}  

.main {

}

.section {
    background: blue;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.section:first-of-type {
    background: #7BB7B7;
}

.section:nth-of-type(2) {
    background: #E86E7F;
}

.section:nth-of-type(3) {
    background: #fbce40;
}

.section__header {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;

}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 2px solid #c8d231;
    padding: 1rem;
    box-shadow: 9px 8px 0px 0px #c8d231;
    background: #f8f8f8;
}

.form__input {
    width: 11vw;
    height: 12vh;
    border: none;
    background: none;
    border-bottom: 3px solid #444;
    outline: none;
    font-size: 3rem;
    text-align: center;
    padding: 0.5rem;
    color: #444;
    padding-bottom: 0.8rem;
}

.form__button {
    margin-top: 1rem;
    border: none;
    border: #f8f8f8;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    background: darkorange;
    cursor: pointer;
    transition: color 0.5s;
}

.form__button:hover {
    /* background: #f8f8f8; */
    color: #f8f8f8;
}

.form__label {
    margin-bottom: 1rem;
}

.form__select {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #f8f8f8;
    font-family: 'Source Code Pro', monospace;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.form__select::-ms-expand {
    display: none;
}
.form__select:hover {
    border-color: #888;
}
.form__select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.form__select option {
    font-weight:normal;
}


.pokemon-card {
    padding: 0.5rem;
    background: white;
    /* border-radius: 5%; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #beacf1;
    padding: 1rem;
    box-shadow: 9px 8px 0px 0px #beacf1;
}

.pokemon-card__name {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5px;
    font-weight: 500;
}

.pokemon-card__type-wrapper {
    display: flex;
    justify-content: space-around;
}

.pokemon-card__type {
    margin-right: 0.5rem;
}