html, body {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 0.03rem;
    margin: 0;
    color: #444;
}

.nav {
    width: 100vw;
    height: 10vh;
    background: #fbce40;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__link {
    letter-spacing: normal;
    margin-right: 1.5rem;
    text-decoration: none;
    color: #444;
    font-weight: 700;
    transition: color 0.5s;
}

.nav__link:hover {
    color: #3280ff;
}

.header {
    width: 100vw;
    height: 90vh;
    color: black;
    display: flex;
    background: #fbdd7d;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__image {
    width: 25vw;
    height: auto;
}

.header__title {
    margin: 0;
}

.header__subtitle {
    font-weight: 400;
    font-size: 0.9rem;
}  

.main {

}

.section {
    background: blue;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.section:first-of-type {
    background: #7BB7B7;
}

.section:nth-of-type(2) {
    background:     #ff9eab;
}

.section:nth-of-type(3) {
    background: #a0d894;
}

.section__header {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 2px solid #c8d231;
    padding: 1rem;
    box-shadow: 9px 8px 0px 0px #c8d231;
    background: #f8f8f8;
}

.form--row {
    flex-direction: row;
}

.form__warning {
    color: red;
    background: white;
    padding: 0.5rem;
    font-style: italic;
    margin: 0.5rem;
}

.form__input {
    width: 14vw;
    height: 12vh;
    border: none;
    background: none;
    border-bottom: 3px solid #444;
    outline: none;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
    color: #444;
    padding-bottom: 0.8rem;
    font-family: 'Source Code Pro', monospace;
}

.form__input-list {
    height: 7vh;
    width: 27vw;
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
}

.form__helper {
    font-size: 2rem;
    font-weight: 700;
}

.form__button {
    margin-top: 1rem;
    border: none;
    border: #f8f8f8;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    background: darkorange;
    cursor: pointer;
    transition: color 0.5s;
    outline: none;
}

.form__button:hover {
    color: #f8f8f8;
}

.form__label {
    margin-bottom: 1rem;
}

.pokemon-card-wrapper {
    display: flex;
}

.pokemon-card {
    padding: 0.5rem;
    background: white;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #beacf1;
    padding: 1rem;
    box-shadow: 9px 8px 0px 0px #beacf1;
}

.pokemon-card--small {
    margin-right: 1rem;
    padding: 0.5rem;
    background: white;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #beacf1;
    padding: 1rem;
    box-shadow: 9px 8px 0px 0px #beacf1;
}

.pokemon-card__name {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5px;
    font-weight: 700;
}

.pokemon-card__type-wrapper {
    display: flex;
    justify-content: space-around;
}

.pokemon-card__move-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.pokemon-card__move {
    margin-right: 0.5rem;
}

.pokemon-card__type {
    margin-right: 0.5rem;
}

.bold {
    font-weight: 700;
}

.margin--no {
    margin: 0;
}

.footer {
    text-align: end;
    margin-right: 1.5rem;
    font-size: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .nav {
        font-size: 0.8rem;
        justify-content: center;
    }
    .nav__link {
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .section__header {
        font-size: 2rem;
    }
    .pokemon-card {
        font-size: 0.5rem;
    }
    .pokemon-card--small {
        font-size: 0.4rem;
    }
   
    .form {
        width: 60vw;
    }

    .form__input {
        font-size: 1rem;
    }
    .form__input-list {
        width: 48vw;
    }
    .form--row {
        font-size: 0.5rem;
    }
    .form__input-list {
        width: 50vw;
        font-size: 0.8rem;
    }

    .form__input--large {
        width: 35vw;    
    }

    .form__helper {
        font-size: 1rem;
    }
}